.btn-primary.jennyjuice-btn {
    background-color: #FF8000 !important;
    border: #FF8000;
    padding: 10px 20px;
    border-radius: 4px;
}

.btn-primary.jennyjuice-btn:hover {
    background-color: black !important;
    color: white !important;
}

.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 2;
}

.lnr-cart {
    width: 1.5em;
    height: 1.5em;
}

.lnr-magnifier {
    color: #000000;   
}

.navbar-nav li {
    margin-right: 3em;

}

.navbar {
    background-color: #edb04e;
}

.img-fluid {
    max-width: 80%;
    height: auto
}

section {
    margin-top: 40px;
}

.h {
    text-align: center;
}

.card-body {
    align-content: center;
}

footer {
    margin-top: 60px;
    padding: 5em;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

.meie {
    text-align: center;
}

.order-header {
    padding: 30px;
}

.order-information {
    padding: 30px;
}

.order-form {
    background-color: #f3c470;
    margin: 10px 30px ;
    border-radius: 6px;
    padding: 0 0 30px 0;
}

.order-form-input {
    padding: 15px 25px 0 25px;
}

.order-confirmation {
    text-align: center;
}

.order-confirmation h2 {
    font-size: 30px;
    padding: 20px;
}

